body {
	font:normal 100% Helvetica,Verdana,sans-serif;
}

canvas {
	background-color:#eef;
}

#maincontent {
	margin-left:auto;
	margin-right:auto;
	width:600px;
	border:1px solid;
	padding:15px;
	text-align:center;
}

p {
	margin-top:0px;
	margin-bottom:0px;
}

p.button {
	display:inline-block;
	width:100px;
	height:20px;
	background-color:#ccc;
	border:1px solid black;
}
p.button:hover {
  background-color:#999;
}